

@using (Html.BeginForm("Index", "Admin", FormMethod.Get, new { @class = "form-inline my-2 my-lg-0 header-search" }))
{
    
    <input class="form-control mr-sm-2" type="search" placeholder="Eleman Ara" name="q" required="">
    <button class="btn btn1 my-2 my-sm-0" type="submit">Ara</button>
}